
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Welcome to our platform! </title>
  </head>
  <body>
    <h1>New Doctor Account</h1>
      <p>Dear <%= @doctor.name %>,</p>
      <p>Your account has been created successfully.</p>
      <p>Here is your login and password:</p>
    <ul>
        <li><strong>Email: <%= @doctor.email %></strong></li>
        <li><strong>Password: <%= @temp_password %></strong></li>
    </ul>
      <p>Please login to your account and change your password.</p>
      <p>Best regards,</p>
      <p>The BeHealth Team</p>
  </body>
</html>
