
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @patient.email %>,</p>
    <p>Thanks for registering with My App! To complete your registration, please click the link below to enter your additional information:</p>
    <%= link_to 'Edit Your Profile',
                "https://behealth-git-develop-hromadskyimykola.vercel.app/confirmation?token=#{@patient.confirm_token}&email=#{@patient.email}"%>
    <p>If you did not register for My App, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The My App Team</p>
  </body>
</html>
